nav {
  border-bottom: 1px solid;
  background: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

nav .mobile-bar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  display: none;
}

@media (max-width: 600px) {
  nav .mobile-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

nav .mobile-bar__logo {
  color: white;
}

nav .mobile-bar span {
  display: block;
  height: 2px;
  width: 20px;
  margin: 2px;
  background: #191919;
}

nav .mobile-bar.active {
  background: #191919;
}

nav .mobile-bar.active span {
  background: #191919;
}

nav .mobile-bar:hover {
  background: #e1e1e1;
}

nav .mobile-bar:hover span {
  background: #444;
}

nav .mobile-bar:hover.active {
  background: #222;
}

nav .mobile-bar:hover.active span {
  background: white;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 15px;
  -webkit-transition: ease 1s all;
  transition: ease 1s all;
}

@media (max-width: 600px) {
  nav ul {
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    visibility: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #191919;
    margin-left: -100%;
  }
  nav ul.active {
    opacity: 1;
    max-height: 500px;
    right: 0;
    margin-left: 0%;
    background-color: #191919;
  }
  nav ul.active li {
    display: block;
  }
  nav ul.active li a {
    display: block;
  }
  nav ul.active .nav-brand {
    display: none;
  }
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 9px;
}

nav ul li a:hover {
  background: #191919;
}

@media only screen and (max-width: 600px) {
  .footer-icons {
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .footer-icons__icon {
    padding: 10px;
  }
}

@media only screen and (min-width: 601px) {
  .footer-icons {
    padding: 20px 0px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .footer-icons__icon {
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .about__img {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__text {
    text-align: justify;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (min-width: 601px) {
  .about__img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .about__text {
    font-size: large;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 30rem;
  }
}

.projects__title {
  margin: 40px;
  text-align: center;
  color: black;
}

.col-6 {
  float: left;
  width: 50%;
  padding: 0px 40px;
  padding-bottom: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .col {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.contact__title {
  text-align: center;
}

.contact__info form .form-group {
  margin: 20px 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

.col {
  float: left;
  width: 33.3%;
  padding: 10px 40px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .col {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  padding: 16px;
  text-align: center;
  border: groove;
  border-radius: 10px;
  width: 100%;
  font-weight: 400;
}

.card__img {
  width: 100%;
}

.card__title {
  font-weight: 500;
  font-size: large;
}

.button {
  text-decoration: none;
  background-color: #191919;
  color: white;
  display: block;
  padding: 6px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 400;
  border-color: gray;
  text-align: center;
}

.button__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.disable {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .80;
}

.c-input__info {
  display: block;
  width: 100%;
  border-color: lightgrey;
  border-style: groove;
  border-radius: 5px;
  border-width: .1px;
  padding: 10px;
}

.u-color__white {
  color: white;
}

.u-color__black {
  color: #191919;
}

.u-color__indigo {
  color: #5865f2;
}

.u-bg__indigo {
  background-color: #5865f2;
}

.u-bg__black {
  background-color: #191919;
}

.u-align__center {
  text-align: center;
}

.u-m__40 {
  margin: 40px;
}

.u-mt__20 {
  margin-top: 20px;
}

.u-mb__20 {
  margin-bottom: 50px;
}

.u-mb__50 {
  margin-bottom: 50px;
}

.u-p__40 {
  padding: 40px;
}
/*# sourceMappingURL=style.css.map */