.u-color__white {
    color: white;
}

.u-color__black {
    color: #191919;
}

.u-color__indigo {
    color: #5865f2;
}

.u-bg__indigo {
    background-color: #5865f2;
}

.u-bg__black {
    background-color: #191919;
}