@media only screen and (max-width: 600px) {

    .footer-icons {
        padding: 20px;
        background-color: #191919;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;


        &__icon {
            color: white;
            padding: 10px;
        }
     }
}

@media only screen and (min-width: 601px) {

    .footer-icons {
        padding: 20px 0px;
        width: 100%;
        background-color: #191919;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;

        &__icon {
            color: white;
            padding: 10px;
        }
     }
}